# Désactiver le package-lock
package-lock=false

# Ne pas installer les devDependencies en production
production=true

# Utiliser un cache plus petit
cache-min=3600

# Utiliser pnpm pour une meilleure gestion des dépendances
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

# Optimisations
prefer-offline=true 