# Configuration de base
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

# Remplacer production=true par omit=dev
omit=dev

# Remplacer cache-min par prefer-offline
prefer-offline=true

# Désactiver package-lock
package-lock=false 